flows.json
[{"id":"7748e336.315bac","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c906e2e8.fa183","type":"ui_form","z":"7748e336.315bac","name":"","label":"","group":"5cef067f.8b39e8","order":1,"width":0,"height":0,"options":[{"label":"Pregnancies","value":"Pregnancies","type":"number","required":true,"rows":null},{"label":"Glucose","value":"Glucose","type":"number","required":true,"rows":null},{"label":"BloodPressure","value":"BloodPressure","type":"number","required":true,"rows":null},{"label":"SkinThickness","value":"SkinThickness","type":"number","required":true,"rows":null},{"label":"Insulin","value":"Insulin","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"DPFunction","value":"DPFunction","type":"number","required":true,"rows":null},{"label":"Age","value":"Age","type":"number","required":true,"rows":null}],"formValue":{"Pregnancies":"","Glucose":"","BloodPressure":"","SkinThickness":"","Insulin":"","BMI":"","DPFunction":"","Age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":300,"wires":[["fc77d7a9.f5b168","ef20ffb4.b47fe"]]},{"id":"fc77d7a9.f5b168","type":"debug","z":"7748e336.315bac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":380,"wires":[]},{"id":"ef20ffb4.b47fe","type":"function","z":"7748e336.315bac","name":"pre-token","func":"global.set(\"rd\",msg.payload.Pregnancies)\nglobal.set(\"ad\",msg.payload.Glucose)\nglobal.set(\"ms\",msg.payload.BloodPressure)\nglobal.set(\"st\",msg.payload.SkinThickness)\nglobal.set(\"st\",msg.payload.Insulin)\nglobal.set(\"st\",msg.payload.BMI)\nglobal.set(\"st\",msg.payload.DPFunction)\nglobal.set(\"st\",msg.payload.Age)\n\nvar apikey=\"E7dGx-bVaGXcL6Vqqht1r07hPE3MR63dw1uJOvi9XNgL\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":240,"wires":[["e69c99eb.b0d428"]]},{"id":"e69c99eb.b0d428","type":"http request","z":"7748e336.315bac","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":452.00000381469727,"y":284.00000286102295,"wires":[["d54277ba.26e788","37813609.8801ca"]]},{"id":"d54277ba.26e788","type":"debug","z":"7748e336.315bac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":340,"wires":[]},{"id":"37813609.8801ca","type":"function","z":"7748e336.315bac","name":"Pre Prediction","func":"var Pregnancies = global.get(\"Pregnancies\")\nvar Glucose = global.get(\"Glucose\")\nvar BloodPressure = global.get(\"BloodPressure\")\nvar SkinThickness = global.get(\"SkinThickness\")\nvar Insulin = global.get(\"Insulin\")\nvar BMI = global.get(\"BMI\")\nvar DPFunction = global.get(\"DPFunction\")\nvar Age = global.get(\"Age\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[[\"Pregnancies\",\"Glucose\",\"BloodPressure\", \"SkinThickness\",\"Insulin\",\"BMI\",\"DPFunction\",\"Age\"]],\"values\": [[Pregnancies,Glucose,BloodPressure, SkinThickness,Insulin,BMI,DPFunction,Age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":644.0000076293945,"y":236.0000021457672,"wires":[["b74f5d4.64151a"]]},{"id":"b74f5d4.64151a","type":"http request","z":"7748e336.315bac","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/96f15633-4594-406a-ad80-26d050c8126e/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":260,"wires":[["8b1baf70.51c9e","d12e1703.f4fde8"]]},{"id":"8b1baf70.51c9e","type":"debug","z":"7748e336.315bac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1022.9999914169312,"y":344.00000381469727,"wires":[]},{"id":"fc4132f8.600f7","type":"inject","z":"7748e336.315bac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":140,"wires":[["ef20ffb4.b47fe"]]},{"id":"ac8c1bb8.00ef48","type":"debug","z":"7748e336.315bac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":853.9999885559082,"y":127.0000057220459,"wires":[]},{"id":"d12e1703.f4fde8","type":"function","z":"7748e336.315bac","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][1][0];\nif(msg.payload >0.5){\n    msg.payload=\"Higher Chances of Dibetic\"\n}\nif(msg.payload <0.5)\n{\n     msg.payload=\"Lower Chances of Dibetic\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":699.6000595092773,"y":168.00000190734863,"wires":[["ac8c1bb8.00ef48","dbc0cf4c.ea396"]]},{"id":"dbc0cf4c.ea396","type":"ui_text","z":"7748e336.315bac","group":"5cef067f.8b39e8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"col-center","x":817.6000366210938,"y":401.20001220703125,"wires":[]},{"id":"5cef067f.8b39e8","type":"ui_group","z":"","name":"Dibetes Prediction","tab":"e1883594.7e01f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"e1883594.7e01f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]